[submodule "tpls/sonia-prime"]
	path = modules/sonia-prime
	url = https://github.com/apotocki/sonia-prime
    update = none
[submodule "tpls/dataforge"]
	path = modules/dataforge
	url = https://github.com/apotocki/dataforge
    update = none
[submodule "tpls/numetron"]
	path = modules/numetron
	url = https://github.com/apotocki/numetron
    update = none
