/.vs
/x64
/Debug
/Release
/projects/vs/**/x64
/projects/vs/.vs
/vcpkg_installed
/build
/logs
/log.conf
/Directory.Build.local.props
*.cmd
*.sh
*.md
!README.md
!ANNIUM_SYNTAX.md
!IMPLEMENTATION_NOTES.md
!FUTURE_WORK.md
!BUGFIXES.md
.github/*.md
